@model HouseAudio.AudioController.Models.AudioModel

@{
    ViewBag.Title = "Audio Controller";
}

<ul class="tabs">
    <li class="sound" data-tab="sound"><a href="#">Sound</a></li>
</ul>

<div id="main">
    <div class="sound">
        @foreach (var zone in Model.Zones)
        {
            @Html.Partial("Zone", new HouseAudio.AudioController.Models.ZoneAndInputs { Zone = zone, Inputs = Model.Inputs})
        }

        <input type="button" class="reset" value="Reset?" />
        <input type="button" class="advanced" value="Advanced Mode" />
    </div>
</div>